
.unit_dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: .5rem;
}

.dropdown {
    display: flex;
    gap: 1rem;
    border: none;
    padding: 1.2rem 1.6rem;
    border-radius: .8rem;
    align-items: center;
    color: var(--neutral-0);
    font-family: var(--font-sans);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-color: var(--neutral-800);
}

.dropdown:focus{
    outline-color: var(--neutral-0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.down_menu{
    position: absolute;
    top: calc(100% + .8rem);
    right: 0;
    min-width: 21rem;
    z-index: 10;
    height: auto;
    display: flex;
    gap: .4rem;
    padding: .6rem .8rem;
    flex-direction: column;
    border-radius: 1.2rem;
    background-color: var(--neutral-800);
    border: .1rem solid var(--neutral-600);
}

.options{
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    color: var(--neutral-300);
}

.down{
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.6rem;
    text-align: left;
    color: var(--neutral-0);
    background-color: transparent;
    padding: .6rem .8rem;
}

.option_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .8rem;
    cursor: pointer;
    border-radius: .8rem;
}

.option_row_selected {
    background-color: var(--neutral-700);
}
