
.search_bar{
    gap: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(min-width: 768px){
    .search_bar{
        gap: 1.6rem;
        flex-direction: row;
        max-width: 73rem;
        margin: 0 auto;
    }

    .search_wrapper{
        flex: 1;
    }

    .button_search{
        width: auto;
    }
}

.search_wrapper{
    gap: 1rem;
    width: 100%;
    display: flex;
    outline: none;
    align-items: center;
    border-radius: 1.2rem;
    transition: all 300ms;
    padding: 1.6rem 2.4rem;
    border: 1.5px solid transparent;
    background-color: var(--neutral-800);
}

.search_wrapper:hover{
    background-color: var(--neutral-700);
}

    .search_wrapper:focus-within {
  border-color: #fff;
}

.search_wrapper input{
    border: none;
    outline: none;
    width: 100%;
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
    color: var(--neutral-200);
    background-color: transparent;
}

.button_search{
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    transition: all 300ms;
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    color: var(--neutral-0);
    font-family: var(--font-sans);
    border: 3px solid transparent;
    background-color: var(--blue-500);
}

.button_search:hover{
    background-color: var(--blue-700);
    cursor: pointer;
}

.button_search:focus{
    border-color: var(--neutral-800);
    box-shadow: 0 0 0 3px hsl(233, 67%, 56%);
    outline: none;
}

@media(min-width: 768px){
    .button_search{
        width: 18%;
    }
}
